.row-full{
    width: 99.45vw;
    position: relative;
    margin-left: -50vw;
    height: auto;
    margin-top: 0px;
    left: 50%;
    align-content: center;
    align-items: center;
}

.cat{
    height: 65px;
    width: 65px;
    align-content: center;
}
.categoria{
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}
.img_noticia{
    min-width: 100%;
    border-right: 2px solid black;
    padding: 3px;
    align-items: center;
}
.contorno{
    border: 2px solid black;
    border-color: black;
} 
.titulos{
    text-align: center;
    font-family: sans-serif;
    color: rgb(2, 2, 59);
}
p{
    text-align: center;
}
.botones{
    text-align: center;
    
}
button{
    margin-right: 3px;
    
}